body {
   	/*padding-top: 20px;*/
   	padding-bottom: 40px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 20px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 40px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron p .grey {
	font-color: #ccc;
}

.padding-bottom {
	padding-bottom: 10px;
}

.display-none {
	display:none;
}

